<br><h2><p>Jadwal Pertandingan TEAM</p></h2>
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Matchday</th>
        <th scope="col">Pertandingan</th>
        <th scope="col">Jam (WIB)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Saturday</th>
        <td>Everton FC vs Aston Villa FC </td>
        <th scope="row">20.00</th>
      </tr>
      <tr>
        <th scope="row">Sunday</th>
        <td>Liverpool FC vs Manchester United FC</td>
        <th scope="row">22.00</th>
      </tr>
    </tbody>
  </table>